#NavBar {
    position: relative;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: beige;
    border: 3px solid skyblue;
    border-radius: 20px;

}

#NavBar ul {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    justify-content: space-between;
    width: 100%;
}